.idea/
!.idea/compiler.xml
!.idea/runConfigurations/*
src/main/resources/static
node_modules/
.gradle/
gradle/
build/
out/
*.iws
*.iml
*.ipr
gradlew*

# other
.classpath
.factorypath
.project
.settings
.springBeans
